/* @@@@@@@@ index.html @@@@@@@@@ */
.opacity-30 {
  opacity: 30%;
}

.opacity-10 {
  opacity: 15%;
}

/* 로고 */
.bubble-container img {
  width: 250px;
  margin: 2rem;
}

.start-section a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* 말풍선 부분 */
.header-section {
  width: 100%;
  height: 100%;
}

.header-container {
  margin: 0rem;
}

.header-container h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.bubble-container {
  justify-content: center;
  align-items: center;
  display: flex;

  height: 100%;
}
/* 
.bubble-container__left {
}

.bubble-container__right {
  display: flex;
  flex-direction: column;
}

.bubble-container__bubble {
  display: flex;
  display: inline-block;

  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.8rem;

  font-size: 0.8rem;

  border-radius: 30px;
  background-color: black;
  color: white;

  margin-top: 2rem;
} */

/* .bubble-container::after {
  content: "";
  position: absolute;
  display: flex;

  width: 0;
  height: 0;

  bottom: 0;
  left: 10;

  bottom: 0;

  border: 10px solid transparent;
  border-width: 10px 11px 0 0;

  border-right-color: #000000;
  border-bottom-left-radius: 50%;
  transform: rotate(330deg);
} */

/* 시작 버튼 */
.button-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  transition: background-color 0.1s ease;
}

.button-container button {
  padding: 0.8rem 5.5rem;
  cursor: pointer;

  background-color: rgb(255, 255, 255);

  border-radius: 50px;
  border: none; /* 버튼 테두리 없애기 */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.button-container:hover button {
  background-color: rgb(30, 30, 30);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.button-container:hover .circle {
  background-color: rgb(255, 255, 255);
}

.button-container:hover img {
  filter: brightness(0%);
}

.button-container:hover .button-container__title {
  color: white;
}

.arrow-container {
  display: flex;
  position: absolute;
}

/* 부모 요소 */
.circle {
  width: 28px;
  height: 28px;

  background-color: black;
  border-radius: 100%;

  margin-right: 0.5rem;

  transition: all 0.1s ease;
}

/* .circle:hover {
  background-color: var(--red);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
} */

/* 자식 요소 */
.button-container img {
  width: 70%;
}

.button-container__title {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;

  color: black;
}
