main {
  height: calc(100vh - 3.5rem); /* 전체 화면에서 상단 여백을 빼서 사용 */
}
.login-section {
  width: 100%;
  height: 100%;
}

.login-section img {
  width: 150px;
}

/* @@@ 아이디, 비밀번호 입력 창 @@@ */

.typing-container {
  margin-top: 2rem;
}

.typing-container__id,
.typing-container__pw {
  position: relative;

  display: flex;
  align-items: center;
}

.typing-container img {
  position: absolute;

  width: 18px;
  height: 18px;

  margin: 0 0 0.6rem 0.8rem;

  color: var(--gray2);
}

.typing-container input {
  all: unset;
  text-align: left;

  font-size: 0.9rem;
  letter-spacing: 0.05rem;

  height: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(245, 245, 245);

  padding: 0.75rem 2.5rem;
  margin-bottom: 0.7rem;
}

input::placeholder {
  color: var(--gray2);
}

input:focus::placeholder {
  color: white;
  transition: color 0.1s ease;
}

.typing-container input:focus {
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

/* 로그인, 회원가입 버튼/ */
.button-container {
  margin-top: 0.7rem;
}

.button-container button {
  width: 330px;
  padding: 0.7rem 2.5rem;

  font-size: 1rem;
  letter-spacing: 0.1rem;

  border: none;
  border-radius: 30px;
}

.button-container__login {
  background-color: rgb(30, 30, 30);
  color: white;
  margin-bottom: 0.7rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.button-container__signup {
  background-color: var(--gray1);
  color: var(--gray2);
  cursor: pointer;
  transition: all 0.1s ease;
}

.button-container__login:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--red);
  color: white;
}

.button-container__signup:hover {
  background-color: rgb(240, 240, 240);
}

.button-container__img {
  display: flex;
}
