main {
  height: calc(100vh - 3.5rem); /* 전체 화면에서 상단 여백을 빼서 사용 */
}
.header-section {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
}

.chat-section {
  display: flex;
  height: 100%; /* 화면 전체 높이 */
  width: 100%; /* 화면 전체 너비 */
}

/* 내 담당 왼쪽 : info-container */
.info-container {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px; /* 두 섹션 사이의 간격 */
}

.info-container__link,
.info-container__calender {
  /* 같은 크기로 분배 */
  flex: 1;
  padding: 0.7rem 1rem;
}

/* 상단 바로가기 전체 container */
.link-container {
  width: 100%;
  height: 100%;
  justify-content: space-between; /* 상하 간격을 균등하게 */
}

/* 링크 컨테이너 속 링크를 담는 박스 */
.link-container__elements {
  height: 100%;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 링크 컨테이너 속 요소들 배치 */
.link-container__box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 링크 컨테이너 속 링크들/ */
.link-container a {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--gray2);

  width: 100%;
  padding: 0.63rem 0.7rem;

  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  transition: all 0.2s ease;
}

.link-container a:hover {
  background-color: var(--red);
  color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--red);
}

/* 요소 감추기 */
.link-container a:nth-child(5),
.link-container a:nth-child(6),
.link-container a:nth-child(7),
.link-container a:nth-child(8) {
  opacity: 0;
}

/* 하단 캘린터 부분 */
.info-container img {
  width: 100%;
}

/* 캘린더와 타이틀 박스화 */
.calender-box {
  width: 100%;
}

.academic-schedule {
  display: flex;
  align-items: center;

  width: 100%;

  margin: 0rem 1.1rem;
}

.academic-schedule__day {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;

  padding-left: 0.3rem;
}

.academic-schedule__content {
  color: black;
  font-size: 0.7rem;
  font-weight: 100;

  padding-left: 0.5rem;
}

/* ----------------미경수정------------------ */
/* 미경이 담당 오른쪽 : 챗봇 채팅 부분 */
.chatbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* 요소들을 아래로 정렬 */

  height: 100%;
  width: 80%;

  margin-left: 0.8rem;
}
.chatbot-container__chatting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 채팅만 */
.chatbot-container-main {
  flex-grow: 1; /* 채팅 부분이 남는 공간을 모두 차지하도록 */
  display: flex;
  flex-direction: column;
  width: 95%;
  overflow: auto;
}

/* 내 질문 */
.me-question {
  display: flex;
  flex-direction: row-reverse;

  margin: 1rem 0;
  margin-left: auto;
  margin-right: 2.5%;

  max-width: 80%;
}

/* 말풍선모양 */
.chatbot-bubble-group {
  position: relative;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 250px;
  font-size: 0.9rem;
  color: #fff;
}

/* 내 질문 말풍선 */
.me-bubble {
  background-color: var(--red);
}

.me-bubble::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: var(--red);
  border-right: 0;
  margin-left: 13px;
}

.me-question-content {
  color: white;
}

/* 챗봇 대답 컨테이너 */
.chatbot-answer-container {
  display: flex;
  align-items: end;
  margin-bottom: 1rem;
  margin-left: 2.5%;
  max-width: 80%;
}

/* 챗봇프로필사진 */
.chatbot-profile-img {
  width: 3rem;
  padding-bottom: 0.3rem;
}

.chatbot-profile-img img {
  width: 100%;
  height: auto;
  object-fit: contain; /* 이미지 비율을 유지하며 요소에 맞게 조정 */
}

/* 챗봇 말풍선 */
.chatbot-bubble {
  background-color: #fff8e7;
  max-width: 80%;
  margin-left: 0.8rem;
}

.chatbot-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -6px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #fff8e7;
  border-left: 0;
}

/* 챗봇대답 */
.chatbot-answer-content {
  color: black;
}

/* 예상 질문 예시 */
.question-example-container {
  display: flex;
  align-items: start;
  width: 95%;
  height: 20px;
  position: relative;
  margin-bottom: 0.7rem;
}

.question-example {
  border: 1px solid #eaeaea;
  border-radius: 30px;
  background-color: var(--gray1);
  margin-left: 0.1rem;
  margin-right: 0.3rem;
  font-size: 0.8rem;
  padding: 0.25rem;
  color: var(--gray2);
}

.question-example:hover {
  cursor: pointer;
}
/* 질문입련란 */
.question-input-container {
  width: 95%;
}

.input-submit {
  position: relative;
  margin-bottom: 1rem;
}
.question-input {
  width: 100%;
  height: 40px;

  border-radius: 30px;
  border: 1.5px solid var(--gray1);

  padding: 0 0.7rem;
  color: var(--gray2);
}

.question-submit-button {
  position: absolute;
  right: 10px;
  top: 15%;

  width: 70px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: var(--gray1);

  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}

.question-submit-button:hover {
  cursor: pointer;
}
