.header-section {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
}

.chat-section {
  display: flex;
  height: 100%; /* 화면 전체 높이 */
  width: 100%; /* 화면 전체 너비 */
}

/* 내 담당 왼쪽 : info-container */
.info-container {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px; /* 두 섹션 사이의 간격 */
}

.info-container__link,
.info-container__calender {
  /* 같은 크기로 분배 */
  flex: 1;
  padding: 0.7rem 1rem;
}

/* 상단 바로가기 전체 container */
.link-container {
  width: 100%;
  height: 100%;
  justify-content: space-between; /* 상하 간격을 균등하게 */
}

/* 링크 컨테이너 속 링크를 담는 박스 */
.link-container__elements {
  height: 100%;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 링크 컨테이너 속 요소들 배치 */
.link-container__box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 링크 컨테이너 속 링크들/ */
.link-container a {
  font-size: 0.7rem;
  text-decoration: none;
  color: var(--gray2);

  width: 100%;
  padding: 0.63rem 0.7rem;

  background-color: white;
  border: 1px solid rgb(247, 247, 247);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
  border-radius: 7px;

  transition: all 0.1s ease;
}

.link-container a:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(239, 239, 239);
  color: black;
}

/* 요소 감추기 */
.link-container a:nth-child(5),
.link-container a:nth-child(6),
.link-container a:nth-child(7),
.link-container a:nth-child(8) {
  opacity: 0;
}

/* 하단 캘린터 부분 */
.info-container img {
  width: 100%;
}

/* 캘린더와 타이틀 박스화 */
.calender-box {
  width: 100%;
}

.academic-schedule {
  display: flex;
  align-items: center;

  width: 100%;

  margin: 0rem 1.1rem;
}

.academic-schedule__day {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;

  padding-left: 0.3rem;
}

.academic-schedule__content {
  color: black;
  font-size: 0.7rem;
  font-weight: 100;

  padding-left: 0.5rem;
}

/* 미경이 담당 오른쪽 : 챗봇 채팅 부분 */
.chatbot-container {
  display: flex;
  height: 100%;
  width: 80%;

  margin-left: 0.8rem;
}

.chatbot-container__chatting {
  width: 100%;
}
