/* @@@@@@@@ index.html @@@@@@@@@ */

/* 로고 */
.logo > img {
  width: 280px;
}

.start-section a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* 말풍선 부분 */
.header-section {
  width: 100%;
  height: 100%;
}

.bubble-container__bubble {
  position: relative;
  display: flex;
  padding: 0.6rem 0.8rem;

  font-size: 0.8rem;
  letter-spacing: 0.1rem;

  border-radius: 30px;
  background-color: black;
  color: white;
}

/* .bubble-container__tail {
  content: "";
  position: absolute;
  display: flex;

  width: 0;
  height: 0;

  left: 0;
  bottom: 0;

  border: 10px solid transparent;
  border-width: 10px 11px 0 0;

  border-right-color: #000000;
  border-bottom-left-radius: 50%;
  transform: rotate(-30deg);
} */

/* 시작 버튼 */
.button-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 2rem;

  transition: all 0.1s ease;
}

.button-container button {
  padding: 1rem 7rem;
  cursor: pointer;

  background-color: rgb(255, 255, 255);

  border-radius: 50px;
  border: none; /* 버튼 테두리 없애기 */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.button-container:hover button {
  background-color: rgb(50, 50, 50);
  box-shadow: inset 0 -5px 15px black;
}
.button-container:hover .circle {
  background-color: rgb(255, 255, 255);
}

.button-container:hover img {
  filter: brightness(0%);
}

.button-container:hover .button-container__title {
  color: white;
}

.arrow-container {
  display: flex;
  position: absolute;
}

/* 부모 요소 */
.circle {
  width: 34px;
  height: 34px;

  background-color: black;
  border-radius: 100%;

  margin-right: 0.5rem;

  transition: all 0.1s ease;
}

/* .circle:hover {
  background-color: var(--red);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
} */

/* 자식 요소 */
.button-container img {
  width: 70%;
}

.button-container__title {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 400;

  color: black;
}
