@import url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans/css/SpoqaHanSansNeo.css");

/* 기본 CSS 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  height: 100vh;
  width: 100vw;

  margin: 0;
}

main {
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
}

.body-center {
  min-height: 100vh;
  /* 화면이 줄어들어도 최소높이 보장 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0; /* 기본 마진 제거 */
}

/* 메인 컨테이너 설정 */

:root {
  --red: #b93234; /* 빨간색 */
  --gray1: #f5f5f5; /* 밝은 회색 1 */
  --gray2: #717171; /* 진한 회색 2 */
  --cream: #fef8e9; /* 크림색 */
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-shadow {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}

.info-icon {
  width: 26px;
  margin-right: 0.5rem;
  padding-top: 0.2rem;
}

/* 바로가기 타이틀 */
.info-title {
  display: flex;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--gray1);
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

/* 반응형 레이아웃 (추가) */
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
